<div class="container">
    <div class="panel panel-primary" *ngIf="order">
        <div class="panel-heading">
            <h2 class="panel-title">Order</h2>
        </div>
        <div class="panel-body">
            <label>Cancel Order</label>
            <div class="row">
                <div class="col-md-3">Status</div>
                <div class="col-md-9"> {{order.orderStatus}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Card number</div>
                <div class="col-md-9"> {{order.cardNumber}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Pass number</div>
                <div class="col-md-9"> {{order.passNumber}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Amount</div>
                <div class="col-md-9"> {{order.amount}}</div>
            </div>

            <form #form="ngForm" (ngSubmit)="cancel(form.value)">
                <label>Confirm</label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Access Code" name="accessCode"
                                   ngModel required/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn btn-success" [disabled]="form.invalid || form.submitted" type="submit">
                                Cancel Order
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a class="btn btn-default pull-right" [routerLink]="['/view', order.orderId]">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
